{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <div class="row">

                <div class="col-6">
                    {% if book.cover_id %}
                        <img src="{{ url_for('static', filename='covers/' ~ book.cover_id ~ '.jpg') }}" 
                            alt="{{ book.title }} cover" class="img-fluid mb-3">
                    {% endif %}
                </div>

                <div class="col-6">
                    <h2>{{ book.title }}</h2>
                    <p><strong>Author:</strong> {{ book.author }}</p>
                    <p><strong>Genre:</strong> {{ book.genre }}</p>


                    <p><strong>A.U.R.A. Rating:</strong> {{ book.agg_aura }}</p>
                    <p><strong>Enjoyment Rating:</strong> {{ book.agg_enjoyment }}</p>
                    <form action="{{ url_for('books.rate_aura', book_id=book.id) }}" method="post" class="mb-2">
                    <label for="aura">What's the A.U.R.A of this book?</label>
                    <input type="number" name="aura" id="aura" min="0" max="10" step="0.1" class="form-control w-50">
                    <button type="submit" class="btn btn-primary mt-1">Submit A.U.R.A.</button>
                </form>

                <form action="{{ url_for('books.rate_enjoyment', book_id=book.id) }}" method="post">
                    <label for="enjoyment">How good is it (out of 5)?</label>
                    <input type="number" name="enjoyment" id="enjoyment" min="0" max="5" step="0.1" class="form-control w-50">
                    <button type="submit" class="btn btn-primary mt-1">Submit Enjoyment</button>
                </form>


                </div>

            </div>

                <div class="mt-3">
                    <div class="row">
                        <div class="col-4">
                            <form action="{{ url_for('books.mark_read', book_id=book.id) }}" method="post">
                            <button type="submit" class="btn btn-secondary">Mark as Read</button>
                            </form>
                        </div>

                        <div class="col-4">
                            <form action="{{ url_for('books.mark_to_read', book_id=book.id) }}" method="post" class="mt-2">
                            <button type="submit" class="btn btn-success">Add to your "To-Read" list</button>
                            </form>
                        </div>

                        <div class="col-4">
                            <form action="{{ url_for('books.add_top_five', book_id=book.id) }}" method="post" class="mt-2">
                            <button type="submit" class="btn btn-warning">Add to your "Top-Five" list</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                <div class="row">
                    <div class="col-4">
                        <form action="{{ url_for('books.unmark_read', book_id=book.id) }}" method="post">
                            <button type="submit" class="btn btn-outline-secondary">Mark as unread</button>
                        </form>
                    </div>

                    <div class="col-4">
                        <form action="{{ url_for('books.remove_to_read', book_id=book.id) }}" method="post">
                            <button type="submit" class="btn btn-outline-success">Remove from your "To‑Read" list</button>
                        </form>
                    </div>

                    <div class="col-4">
                        <form action="{{ url_for('books.remove_top_five', book_id=book.id) }}" method="post">
                            <button type="submit" class="btn btn-outline-warning">Remove from your "Top‑Five" list</button>
                        </form>
                    </div>
                </div>
            </div>

                    <div class="mb-3"></div>
                        <form action="#">
                        <label class="form-label" for="formEmail">Author name</label>
                        <input class="form-control" type="email" placeholder="Enter email" id="formEmail"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formPassword">Book ID (int)</label>
                        <input class="form-control" type="password" placeholder="Password" id="formPassword" autoComplete="new-password"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Year Published (int)</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Book Title</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Cover_ID(int)</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Length</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Publisher</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">ISBN</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="formFile">Summary</label>
                        <input class="form-control" type="file" id="formFile"/>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="dropdown-91314e38-4996-42a7-8011-51c79b3be0f4" type="button" data-bs-toggle="dropdown" aria-expanded="false">Genre</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-91314e38-4996-42a7-8011-51c79b3be0f4">
                            <li>
                                <a class="dropdown-item" href="#">g1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g2</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g3</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g4</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g5</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g6</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g7</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g8</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g9</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">g10</a>
                            </li>
                        </ul>
                    </div>
                   
                    <div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                        </form>


            <div class="mt-3">
                <p><strong>Summary:</strong> {{ book.summary }}</p>
            </div>

            <hr class="my-4">

        </div>

        <div class="col-4">

            <h4>Comments</h4>
            <div class="border p-3 bg-light">
                <p><em>“This section will maybe display user comments later.”</em></p>
                <p><strong>Big Bruce:</strong> “Kind overrated tbh. Drink beer while reading it to make it better”</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
