{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <span class="title"><h1>{% block title %} Book Search {% endblock %}</h1></span>
        <div class="content">
            <h2 class="mb-3">Search for books by title or author</h2>
        </div>
        <form action="{{ url_for('books.search') }}" method="get" class="search-form">
        <div class="d-flex justify-content-center">
            
            <input 
                type="search" 
                name="q" 
                placeholder="Search books..." 
                value="{{ query }}"
                autocomplete="off"
                required
                minlength="2"
                style="width: 350px; height: 36px; font-size: 20px"
            >
            <button type="submit" aria-label="Search" style="height: 36px;">
                Search
            </button>
        </div>
    </form>
</div>
{% endblock %}