{% extends "base.html" %}

{% block title %}about page{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4 mb-3">
        About
    </h1>

    <p class="lead mb-4">
        All books, covers, and book informtion were sourced from Openbooks. 
    </p>

    <p class="lead mb-4">
        Flask tutorial and basic framework from https://www.digitalocean.com/community/tutorials/how-to-structure-a-large-flask-application-with-flask-blueprints-and-flask-sqlalchemy#conclusion
    </p>

    <p class="lead mb-4">
        Made by team MELEE for the COMP 305 course at Kalamazoo College
    </p>


</div>

{% endblock %}